#wrapper {
    background-color: #f5bcbc; 
    width: 400px;
    margin: 20px auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
  }
  
  h2 {
    margin-top: 10px;
  }
  
  hr {
    margin: 20px 0;
  }
  
  footer {
    text-align: center;
    font-size: 12px;
  }